@media only screen and (max-width: 1350px) {

	#download-code{display:block;}
.download-code{
	left:385px;
}
.footer-message-content{display:none !important;}
	.footer-message-close{display:none !important;}
 
}

@media only screen and (max-width: 1120px) {

    #collaborate {
        display: none;
    }

    #code-format {
        display: none;
    }

    /* .save-button {
        margin-left:-116px;
    } */
	
	.download-code{	left: 285px;}
}

@media only screen and (max-width: 1000px) {

    #collaborate {
        display: none;
    }

    #code-format {
        display: none;
    }

   /*  .save-button {
        margin-left:-230px;
    } */

    #js-menu {
        display: none;
    }
	#shortcuts-info-btn{display:none !important;}
	.download-code{	left: 285px !important;}
.footer-message-content{display:none !important;}
	.footer-message-close{display:none !important;}
}

@media only screen and (max-width: 880px) {
#shortcuts-info-btn{display:none !important;}
    #collaborate {
        display: none;
    }

    #code-format {
        display: none;
    }

   /*  .save-button {
        margin-left:-346px;
    } */

    #js-menu {
        display: none;
    }

    .tools-menu {
        display: none;
    }

    .fake-line-3 {
        display: none;
    }
}

@media only screen and (max-width: 770px) {

    #collaborate {
        display: none;
    }

    #code-format {
        display: none;
    }

   /*  .save-button {
        margin-left:-346px;
    } */

    #js-menu {
        display: none;
    }

    .tools-menu {
        display: none;
    }
#shortcuts-info-btn{display:none !important;}
 /*    .save-button {
        display: none;
    } */

    .fake-line-3 {
        display: none;
    }

}



@media only screen and (max-width: 639px) {

	
    #collaborate {
        display: none;
    }

    #code-format {
        display: none;
    }

  /*   .save-button {
        display: none;
    } */

    #js-menu {
        display: none;
    }

    .tools-menu {
        display: none;
    }
/* 
    .save-button {
        display: none;
    } */

    .run {
        display: none;
    }

    #header-menu {
        display: none;
    }

    .fake-line-3 {
        display: none;
    }
	
	.download-code{	left: 145px !important;}
	#header-menu {display: block;}
	#shortcuts-info-btn{display:none !important;}
	.footer-message-content{display:none !important;}
	.footer-message-close{display:none !important;}

}


