/*
	Liveweave.com
	Copyright 2017, Amit Sen
	support@liveweave.com
*/

@charset "utf-8";

@font-face {
    font-family: Consola;
    src: url('fonts/consola.ttf'), url('fonts/consola.eot'), url('fonts/consola.woff'), url('fonts/consola.otf');
}

@font-face{font-family:iransans;
src:url(fonts/IRANSansBold.eot);
src:url(fonts/IRANSansBold.eot?#iefix) format("embedded-opentype"),
url(fonts/IRANSansBold.woff) format("woff"),
url(fonts/IRANSansBold.ttf) format("truetype")
}

hr{margin:10px 0;}

p.loader-text{
	font-family:iransans;
	color:#fff;
}

.modal-body h5{
color:red !important;
font-size:18px;
}

.shortcuts-info {
  box-sizing:border-box;
  position: absolute;
  display: none;
  left: 0;
  bottom: 55px;
  max-width: 40%;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 5px 30px rgba(0,0,0,.1);
 box-shadow: 2px 5px 30px rgba(0,0,0,.1);
 direction:rtl;
 text-align:center;
}

.shortcuts-info p {
  margin: 10px 0;
}
.tag {
	box-sizing:border-box;
  display: inline-block;
  padding: 1px 10px;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
}
.display-block {
  display: block;
}
#shortcuts-info-btn {
    position: fixed;
    display: block;
    bottom: 25px;
    left: 0;
    margin: 15px 6px;
    padding: 5px 10px;
    font-size: 12px;
    border: 0;
    border-radius: 50px;
    color: #fff;
    background-color: #0f4ddf;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 1;
  }
  #shortcuts-info-btn:hover {
    background-color: #0f4ddf;
	
  }

  #shortcuts-info-btn:active {
    background-color: #0f4ddf;
  }
  


@media only screen and (max-width: 600px) {
.noshowinmob{
display:none;	
}
}

img.mythemes121{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
transition:all 0.2s;
}
img.mythemes121:hover{
-webkit-filter: grayscale(0%);
filter: grayscale(0%);
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 99999; 
  padding-top: 40px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.7);
cursor:pointer;  
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 80%;
  direction:rtl;
  text-align:right;
  overflow:auto;
  cursor:default;
  /* height:450px; */
}

.modal-content a{
	color: #607D8B !important;
	text-decoration:none;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table#mytableformodal{
width:100%;
border-collapse:collapse;
}
table#mytableformodal,td{
	border:2px solid #607D8B;
	text-align:center;
	padding:8px;
}


* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

*:focus {
    outline: 0;
}

body {
    font-family: iransans,"Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow: hidden;
    background: #222;
    color: #777;
}

/* iframe 	{ width: 49.9%;position: absolute;	top:45px;left:50%;height: 88%; border: 1px solid #ccc;overflow:auto;	}		 */
select {
    padding: 3px 4px 3px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #006699;
    border: 1px solid #006699;
}

a:link, a:visited {
    text-decoration: none;
    color: #0059B2;
}

a:hover, a:active {
    text-decoration: underline;
    color: #0059B2;
}

/* Initialize */
#splashscreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: #2196F3;
	background: -webkit-gradient(linear, left top, right top, from(#0072ff), to(#00d4ff));
	
}

#wrapper {
    margin: 0 auto;
    width: 90%;
}

#logo {
    background: url('images/logo2.svg') no-repeat;
    width: 170px;
    height: 45px;
    position: relative;
    top: -10px;
    left: -5px;
    display: inline-block;
    cursor: pointer;
}

#logo:hover {
    opacity: 0.7;
}

#preview {
    overflow: auto;
    z-index: 9;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
}

textarea#desc {
    resize: none;
    width: 455px;
    border: 2px solid #ccc;
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    font-family: iransans,"Oswald", Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #CCC;
    background: #222;
    z-index: 100;
	font-size: 12px;
}

#footer ul.links {
    list-style-type: none;
    margin-left: 10px;
    text-align: right;
    margin-top: 8px;
    float: left;
	direction:rtl;
    /* border-right: 1px solid #777; */
    padding-right: 10px;
}

#footer ul.links li {
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
}

#footer ul.layout {
    list-style-type: none;
    padding-right: 10px;
    text-align: left;
    margin-top: 8px;
    float: left;
    padding-left: 10px;
}

#footer ul.layout li {
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
}

#footer ul.layout li a:link {
    opacity: 1;
    text-decoration: none;
}

#footer ul.layout li a:hover {
    opacity: 0.5;
    text-decoration: none;
}

#footer ul.links a:hover{
background-color:#555454;
text-decoration: none;	
border-radius:10px;
}

#footer .ruler {
    position: fixed;
    bottom: 22px;
    right: 0;
    height: 13px;
    width: 4000px;
    background: url('../images/ruler_04112014.png') no-repeat;
}

#footer-message {
    text-align: right;
    float: left;
    padding-left: 10px;
    list-style-type: none;
    margin-top: 14px;
    color: #aaa;
    height: 25px;
    font-family: iransans,'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
	direction:rtl;
}

.footer-message-close {
    padding: 4px 10px;
    background: #00a0d2;
    color: white;
    cursor: pointer;
    position: fixed;
    left: 31%;
    bottom: 40px;
    margin-left: -10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 300;
    z-index: 99999;
}

.footer-message-content {
    padding: 4px 20px 4px 30px;
    background: #069;
    cursor: pointer;
    position: fixed;
    left: 9%;
    bottom: 40px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 300;
	z-index: 9999;
}

.footer-message-content a {
    color: white;
}

.false-line-top1 {
    position: absolute;
    top: 45px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #cccccc;
}

.layout0 {
    background: url('images/layout0.svg') no-repeat;
    width: 17px;
    height: 13px;
    display: inline-block;
}

.layout1 {
    background: url('images/layout1.svg') no-repeat;
    width: 17px;
    height: 13px;
    display: inline-block;
}

.layout2 {
    background: url('images/layout2.svg') no-repeat;
    width: 18px;
    height: 14px;
    display: inline-block;
}

.layout3 {
    background: url('images/layout3.svg') no-repeat;
    width: 18px;
    height: 14px;
    display: inline-block;
}

/* .selected-layout { border-top:3px solid #006DD9; } */

/* Menu */
#js-menu {
    z-index: 999;
    position: absolute;
    left: 282px;
    top: 0px;
    cursor: pointer;
}

.team-up {
    background: url('../images/teamup.svg') no-repeat;
    width: 115px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 400px;
    z-index: 999;
}

.download-code {
    background: url('images/download.svg') no-repeat;
    width: 115px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 465px;
    z-index: 999;
	padding-top: 12px;
	padding-left: 12px;
    text-align: center;
	color: #b3b3b3;
}

.format {
    background: url('images/tidy.svg') no-repeat;
    width: 176px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 285px;
    z-index: 999;
	padding-top: 12px;
padding-left: 12px;
text-align: center;
color:#b3b3b3;
}

.menu-item {
    background: url('images/library.svg') no-repeat;
    width: 75px;
    height: 45px;
    z-index: 999;
	padding-left: 32px !important;
padding-top: 3px;
color:#b3b3b3;
	
}

.menu-item:hover{
	color:#f2f2f2;
}

.tools-menu-bg {
    width: 300px;
    padding: 20px;
    margin-top: -5px;
    list-style-type: none;
}

.tools-shortcut {
    padding: 4px;
    background: #ddd;
    border-radius: 4px;
    font-size: 70%;
}

/* Header (left) */
.header {
    position: fixed;
    width: 100%;
    height: 45px;
    left: 0;
    background-color: #333333;
}

ul#header-menu {
    list-style-type: none;
    position: absolute;
    top: 10px;
    left: 5px;
    font-family: Segoe, Arial, sans-serif;
    font-size: 30px;
}

ul#header-menu li {
    display: inline;
}

#header-menu a:link, #header-menu a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#header-menu a:hover, #header-menu a:active {
    cursor: pointer; /* IE8 and earlier */
}

.save-button:hover, #js-menu:hover, .tools-menu:hover, .log-in:hover, .run:hover, .team-up:hover, .format:hover, .download-code:hover {
   /*  border-top: 2px solid #26C9FF; */
    cursor: pointer;
	color:#f2f2f2;
background-color:#555454;
}

.save-button {
    position: absolute;
    top: 0;
    left: 745px;
    cursor: pointer;
    z-index: 9;
}

/* Header (right) */
.sticky-scroll-switch {
    position: relative;
    top: 6px;
    float: right;
}

.night-vision-text {
    background: url('images/night-mode.svg') no-repeat;
    width: 42px;
    height: 42px;
    position: relative;
    left: -5px;
    top: 4px;
    float: right;
    margin-left: 12px;
font-size: 11px;
line-height: 1;
padding-top: 8px;
color:#b3b3b3;
}

.live-mode-text {
    background: url('images/live-mode.svg') no-repeat;
    width: 42px;
    height: 42px;
    position: relative;
    left: -5px;
    top: 4px;
    float: right;
    margin-left: 12px;
	font-size: 11px;
line-height: 1;
padding-top: 8px;
color:#b3b3b3;
	
}

.log-in {
    background: url('../images/login.svg') no-repeat;
    width: 115px;
    height: 55px;
    z-index: 999;
    float: right;
    margin-left: 15px;
}

.run {
    background: url('images/run.svg') no-repeat;
    width: 120px;
    height: 55px;
    z-index: 999;
    float: right;
    position: relative;
    left: -10px;
	padding-top: 12px;
padding-left: 36px;
text-align: center;
color:#b3b3b3;
}

.logged-in {
    float: right;
    background: none;
    padding-left: 10px;
    position: relative;
    right: -10px;
    top: 0;
    height: 45px;
    width: 150px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}

/* Editor */
.js-logo {
    background: url('images/js.svg') no-repeat;
    height: 26px;
    width: 26px;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    opacity: 0.9;
}

.css-logo {
    background: url('images/css3.svg') no-repeat;
    height: 40px;
    width: 32px;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    opacity: 0.9;
}

.html-logo {
    background: url('images/html5.svg') no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    opacity: 0.9;
}

.preview-logo {
    background: url('images/full-screen.svg') no-repeat;
    height: 30px;
    width: 43px;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    opacity: 0.6;
}

/* Fake lines */
.fake-line-1 {
    position: absolute;
    top: 45px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #222222;
    z-index: 99;
    border-bottom: 1px solid #444444;
}

.fake-line-2 {
    position: absolute;
    bottom: 35px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #222222;
    z-index: 99;
}

.fake-line-3 {
    border-right: 2px solid #444;
    position: absolute;
    left: 77px;
    width: 2px;
    height: 100%;
    overflow: hidden;
}

/* Full sreen toggle */
.fullscreen-small {
    background: url('images/full-screen.svg') no-repeat;
    height: 22px;
    width: 22px;
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 99;
}

.fullscreen-small-exit {
    background: url('images/full-screen-exit.svg') no-repeat;
    height: 28px;
    width: 28px;
    cursor: pointer;
    opacity: 0.6;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 99;
}

.fullscreen-small:hover {
    opacity: 1;
}

.fullscreen-small-exit:hover {
    opacity: 1;
}

/* Full screen preview */
.full-screen-logo {
    /*
    background: url('images/full-screen.svg') no-repeat;
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    opacity: 0.7;
    */
    background: url('images/full-screen.svg') no-repeat;
    height: 32px;
    width: 32px;
    opacity: 0.7;
    cursor: pointer;
}

.full-screen-section {
    position: absolute;
    top: 6px;
    bottom: 2px;
    right: 6px;
    list-style-type: none;
}

.full-screen-exit-logo {
    background: url('images/full-screen-exit.svg') no-repeat;
    height: 32px;
    width: 32px;
    opacity: 0.7;
    cursor: pointer;
}

.full-screen-logo:hover, .full-screen-exit-logo:hover {
    opacity: 1;
}

#splitContainer {
    border: none;
}

#js-error-message-close {
    background: url('../images/close-me.png') no-repeat;
    width: 23px;
    height: 23px;
    display: block;
    float: right;
    cursor: pointer;
    margin-right: 20px;
}

#js-error-message-collapse {
    background: url('../images/collapse-me.png') no-repeat;
    width: 23px;
    height: 23px;
    display: block;
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

/* Common classes */
.rounded-corner {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.no-bullets {
    list-style-type: none;
}

.button-text {
    background: #555;
    padding: 5px;
    color: #fff;
}

.popular {
    color: white;
    font-size: 9px;
    font-style: normal;
    border-radius: 10px;
    font-family: iransans,"Open Sans", Arial, Helvetica, sans-serif;
    background: #5db616;
	background: linear-gradient(90deg, #e81563 0%, #ff3807 100%);
    padding: 2px 8px;
}

.field-shadow {
    -moz-box-shadow: 0 0 2px #111111;
    -webkit-box-shadow: 0 0 2px #111111;
    -o-box-shadow: 0 0 2px #999999;
    box-shadow: 0 0 2px #111111;
}

.jqx-fill-state-normal {
    background-color: #222;
    border-top: 1px solid #333;
    border-bottom: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #333;
}

.jqx-splitter-collapse-button-vertical {
    background-color: #555;
}

.jqx-splitter-collapse-button-horizontal {
    background-color: #555;
}

/*
.jqx-fill-state-normal {background-color: #eee; border-top:1px solid #ccc; border-bottom:1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ccc;}
.jqx-splitter-collapse-button-vertical { background-color:#eee;}
.jqx-splitter-collapse-button-horizontal { background-color: #eee;}
*/
.shortcut {
    background-color: #0080FF;
    color: white;
    padding: 3px;
    font-size: 12px;
    font-style: normal;
    border-radius: 5px;
}

#app-cssgen {
    position: fixed;
    top: 38px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.pos-fa-cog {
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 20px;
    z-index: 99;
    color: #ccc;
}

.fa-cog:hover {
    opacity: 1.0;
}

.text-cssgen {
    position: absolute;
    left: 160px;
    top: -29px;
    font-size: 18px;
    color: #f5f5f5;
    font-weight: 300;
    font-family: 'Open Sans', 'Lucida Grande', Arial, sans-serif;
}

.back-to-editor {
    position: absolute;
    right: 10px;
    top: -30px;
    padding: 5px 10px;
    background-color: #0CF;
    cursor: pointer;
    color: #222;
    font-weight: bold;
}

#iframe-cssgen {
    width: 100%;
    height: 100%;
    border: none;
}

.pos-split-container {
    position: fixed;
    top: 45px;
    left: 1px;
    box-sizing: border-box;
    bottom: 35px;
    width: calc(100% - 1px);
}

.pos-tools-menu {
    background: url('images/tools.svg') no-repeat;
    width: 115px;
    height: 45px;
    display: inline-block;
	padding-left: 50px;
padding-top: 11px;
color:#b3b3b3;
}
.pos-tools-menu:hover{
	color:#f2f2f2;
}



.text-sub-tools-menu {
    color: #aaaaaa;
    font-size: 10px;
    font-style: normal;
    font-family: Arial, sans-serif;
}

hr {
    border: 1px solid #eee;
}

.load-container {
 width: 100%;
position: absolute;
bottom: 0;
margin: auto;
text-align: center;
top: 40%;

}

.loader-text {
    font-size: 2.5em;
}

div.sidebar-container {
    position: absolute;
    left: 0;
    top: 45px;
    height: 100%;
    overflow: hidden;
    background: #222;
    width: 65px;
    border-right: 4px solid #222;

}

ul.sidebar-left {
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    margin-left: 14px;
    margin-top: 20px;
}

ul.sidebar-left li {
    padding-bottom: 20px;
    cursor: pointer;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    /* ...and now for the proper property */
    transition: 1s;

}

ul.sidebar-left li.active {
    color: #0CF;
}

ul.sidebar-left li:hover {
    color: #fff;
    text-decoration: none;

}

/*
.css-frame {
    position: absolute;
    left:15%;
    top:10%;
    z-index:9999;
    width:70%;
    height:70%;
    background: #333;
    border:1px solid #111;
    padding-top:30px;
}
*/

.css-frame, .vector-frame, .color-frame {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #333;
    border: 1px solid #111;
}

.dialog-close {
    position: absolute;
    top: -25px;
    right: 0;
    height: 50px;
    width: 20px;
    background: #0cf;
    padding-left: 10px;
    color: #222;
    padding-top: 2px;
    cursor: pointer;
    float: right;
}

.dialog-external {
    position: absolute;
    top: -25px;
    right: 40px;
    height: 50px;
    width: 20px;
    background: #0cf;
    padding-left: 10px;
    color: #222;
    padding-top: 2px;
    cursor: pointer;
    float: right;
}

/*
.dialog-expand {
    position: absolute;
    top: -30px;
    right: 40px;
    height: 50px;
    width: 30px;
    padding-left: 10px;
    padding-top: 2px;
    font-weight: normal;
    cursor: pointer;
    float: right;
    color: white;
}
*/

.dialog-css, .dialog-vector, .dialog-color {
    position: absolute;
    top: 7%;
    left: 7%;
    width: 85%;
    height: 85%;
    border: 1px solid #444;
    border-right: 3px solid #444;
    border-bottom: 3px solid #444;
    -moz-box-shadow: 0 40px 55px #111;
    -webkit-box-shadow: 0 40px 55px #111;
    box-shadow: 0 30px 55px #222;
    z-index: 99999;
}

/*
.dialog-vector-expand {
    position: absolute;
    top: 78px;
    left: 80px;
    width: calc(100% - 80px);
    height: calc(100% - 78px);
    z-index: 99999;
}
*/

.dialog-header {
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    background: #222;
    height: 50px;
    border: 1px solid #444;
}

.dialog-header span {
    font-size: 16px;
    position: relative;
    top: 4px;
    left: 10px;
    color: #ccc;
}

[draggable=true] {
    cursor: move;
}

.hide {
    display: none;
}

#dummy-title {
    position: absolute;
    top: 12px;
    left: 600px;
    width: 20px;
    display: none;
}

#dummy-layout {
    position: absolute;
    top: 12px;
    left: 700px;
    width: 20px;
    display: none;
}

#dummy-theme {
    position: absolute;
    top: 12px;
    left: 100px;
    width: 20px;
    display: none;
}

#dummy-id {
    position: absolute;
    top: 12px;
    left: 100px;
    width: 150px;
    display: none;
}

.new-category {
    background: darkred;
    color: #ccc;
    font-size: 10px;
    padding:2px 8px 4px 8px;
    border-radius: 3px;
    margin-top:2px;
}